@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: 241, 241, 241;
  --background-color: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-color));
  background: var(--background-color);
}
